.css-me27eb-JoySelect-button {
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    font-family: "Montserrat", sans-serif !important;
  }
  .css-1hr8yhh-JoySelect-button {
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    font-family: "Montserrat", sans-serif !important;
  }