.css-mdzera-MuiPaper-root-MuiAppBar-root {
  background: #546672 !important;
  box-shadow: none !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  color: #fff !important;
  position: static !important;
  padding: 0 !important;
}
.h {
  color: "#fff" !important;
  font-weight: 600 !important;
  font-size: 28px !important;
  text-transform: "capitalize" !important;
  font-family: "Montserrat", sans-serif !important;
}
.css-hpffjv {
  padding: 0 !important;
}
.css-1szrvur {
  background: #546672 !important;
  box-shadow: none !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  color: #fff !important;
  position: static !important;
  padding: 0 !important;
}
.css-1otkxnk-MuiButtonBase-root-MuiListItemButton-root a {
  margin: 0;
}
hr {
  background-color: #546672;
}
